<!DOCTYPE html>
<html ng-app="quoteBook">
<head>
    <meta charset="utf-8">
    <title>quotebook</title>
    <link rel="stylesheet" href="styles.css"></link>
</head>
<body ng-controller="mainCtrl">
  <!-- <p ng-repeat = "quote in quotes track by $index">
     <span class = 'text'>{{quote.text}}</span>
     <span class = 'author'> -- {{quote.author}}</span>
     <button ng-click = "deleteMe(quote.text)">x</button>
   </p> -->

<div class="top">
 <input type="text" placeholder="Add new quote!" ng-model="newQuoteText"/>
 <input type="text" placeholder="Author of quote" ng-model="newQuoteAuthor"/>
 <button ng-click="addQuote()">+</button>
 <div>
   Filter: <input type="text" ng-model="filterText"/>
 </div>
 </div>
 <p ng-repeat="quote in quotes | filter: filterText">
     <span class="text">"{{quote.text}}"</span>
     <span class="author">{{quote.author}}</span>
     <button ng-click = "deleteMe(quote.text)">x</button>
  </p>


     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
     <script src="js/app.js"></script>
     <script src="js/mainCtrl.js"></script>
     <script src="js/dataService.js"></script>

</body>
</html>
