body {
  background: #F6FFFB;
  border-left: solid gray;
  border-right: thick solid gray;
  border-radius: 15px;
}

.top {
  margin-left: 10px;
  border-bottom: thick solid gray;
  border-radius: 50px;
}

p {
  border-bottom: thick solid gray;
  border-radius: 50px;
  padding-left: 10px;
}

.author {
  text-transform: capitalize;
  font: gray;
}

button {
  float: right;
  background: black;
  color: white;
  border-radius: 75px;
  border: none;
  margin-right: 5px;
  margin-bottom: 20px;
}

.top button {
  float: none;
}
